<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	</head>
    <body>
        <table>
            <tr>
                <td style="width: 500px">
        			<img src="http://www.protestorjcapital.com.br:8080/apps/resources/images/mpLogo_protrjcap_small.png"
        							alt="www.protestorjcapital.com.br" />
                </td>
            </tr>
            <tr>
                <td style="width: 500px">Bem Vindo! Agradecemos a escolha para utilizar nossos servicos.</td>
            </tr>
            <tr>
                <td style="width: 500px"></td>
            </tr>
            <tr>
                <td style="width: 500px"><b>Nome : </b>$mpUsuario.nome</b></td>
            </tr>
            <tr>
                <td style="width: 500px"></td>
            </tr>
            <tr>
                <td style="width: 500px"></td>
            </tr>
            <tr>
                <td style="width: 500px"><b>Ativacao</b></td>
            </tr>
        </table>
        <table>
            <tr>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td style="width: 100px">Codigo:</td>
                <td>$mpUsuario.codigoAtivacao</td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 100px"></td>
            </tr>
            <tr>
                <td style="width: 100px"></td>
            </tr>
            <tr>
                <td style="width: 500px">Esse e' um e-mail automatico. NAO RESPONDER ! ç</td>
            </tr>
        </table>
    </body>
</html>